<div class="kt-portlet"
	[ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{ data.title }}</h3>
			<span class="kt-portlet__head-icon kt-hide">
				<i class="la la-gear"></i>
			</span>
		</div>
	</div>
	<div class="kt-form kt-form--label-align-right kt-form--group-seperator-dashed">
		<div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit text-right">
			<div class="kt-form__actions kt-form__actions--solid">
				<div class="col-lg-25">
					<form class="kt-form" [formGroup]="mainForm">
						<div class="form-group row">
							<label class="col-lg-4 col-form-label text-left">Table Number:</label>
							<div class="col-lg-8">
								<input class="form-control" type="number" placeholder="Enter Table Number" [disabled]="viewLoading"
									formControlName="tableNumber" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-4 col-form-label text-left">Transaction Date:</label>
							<div class="col-lg-8">
								<input class="form-control" [matDatepicker]="picker" placeholder="Choose Transaction Date" [disabled]="viewLoading"
									formControlName="transactionDate" />
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-4 col-form-label text-left">Order Total Amount:</label>
							<div class="col-lg-8">
								<label class="col-form-label text-left">P{{totalStr}}</label>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-4 col-form-label text-left">Amount Tendered:</label>
							<div class="col-lg-8">
								<input class="form-control" type="number" placeholder="Enter Amount Tendered" [disabled]="viewLoading"
									formControlName="amountTendered" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-4 col-form-label text-left">Customer's Change:</label>
							<div class="col-lg-8">
								<label class="col-form-label text-left">P{{changeVal}}</label>
							</div>
						</div>
						<div class="actions">
							<button type="button" class="btn btn-secondary btn-elevate kt-login__btn-secondary" [disabled]="viewLoading"
								(click)="onNoClick()">Cancel</button>
							<button type="button" class="btn btn-primary btn-elevate kt-login__btn-primary bt-add-item" [disabled]="viewLoading"
								[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': viewLoading}"
								(click)="checkout()">Process Checkout</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>