<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<h3>Set Your Password</h3>
		</div>

		<kt-auth-notice></kt-auth-notice>

		<form class="kt-form" [formGroup]="forgotPasswordForm" autocomplete="off">
			<div class="form-group" id = "password-field-section">
				<mat-form-field>
					<mat-label>Password</mat-label>
					<input matInput [type]="passwordShown ? 'text' : 'password'" placeholder="Password" formControlName="password" autocomplete="off"/>
					<mat-error *ngIf="isControlHasError('password','required')">
						<strong>{{ AUTH.VALIDATION.REQUIRED_FIELD | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('password','minLength')">
						<strong>Password must be atleast 8 characters long</strong>
					</mat-error>
				</mat-form-field>
				<button (click)="togglePasswordVisibility()" type="button" class="btn" id="toggle-password-btn">
					&nbsp;<i class="la la-eye icon-default" [ngClass]="{'icon-colored': passwordShown}"></i>
				</button>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Confirm Password</mat-label>
					<input matInput [type]="passwordShown ? 'text' : 'password'" placeholder="Confirm Password" formControlName="cpassword" autocomplete="off"/>
					<mat-error *ngIf="isControlHasError('cpassword','required')">
						<strong>{{ AUTH.VALIDATION.REQUIRED_FIELD | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('cpassword','minLength')">
						<strong>Password must be atleast 8 characters long</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<!--begin::Action-->
			<div id="forgot-password-section" class="kt-login__actions">
				<!-- <button routerLink="/auth/login" [disabled]="loading" id="kt_login_signup_cancel" class="btn btn-secondary btn-elevate kt-login__btn-secondary">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</button> -->
				<button (click)="submit()" id="kt_login_signin_submit" [disabled]="!submittingForm && (
								forgotPasswordForm.controls.cpassword.value !== forgotPasswordForm.controls.password.value || 
								forgotPasswordForm.controls.password.hasError('pattern') ||
								(forgotPasswordForm.controls.password.value.length == 0 || 
								forgotPasswordForm.controls.cpassword.value.length == 0)
								)" class="btn btn-primary btn-elevate kt-login__btn-primary" 
								[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': submittingForm}">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
			</div>
			<!--end::Action-->
		</form>
	</div>
</div>

