<!-- begin:: Content Head -->
<div class="kt-subheader kt-grid__item" [hidden]="subheaderService.disabled$ | async" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 *ngIf="title" class="kt-subheader__title">{{title}}</h3>
		<span *ngIf="!(title === 'Dashboard')  && !(title === 'POS') && !(title === 'POS Transactions') && !(title === 'Low Stock Items')" class="kt-subheader__separator kt-subheader__separator--v"></span>
		<!--<h4 *ngIf="desc" class="kt-subheader__desc">{{desc}}</h4>-->
		<!-- <h4 class="kt-subheader__desc">#XRS-45670</h4> -->
		<a *ngIf="!(title === 'Dashboard')  && !(title === 'POS') && !(title === 'POS Transactions') && !(title === 'Low Stock Items')"
			href="javascript:;" (click)="createRecord()"
			class="btn btn-label-warning btn-bold btn-sm btn-icon-h kt-margin-l-10">
			Add New
		</a>
	</div>
	<div class="kt-subheader__toolbar"></div>
		
</div>
<!-- end:: Content Head -->
